/*Style reset*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background: #ededed !important; /* usei o !important devido a uma css que está settando a cor para branco*/
}

body,
html {
  height: 100vh;
  width: 100%;
}

/*My styles*/
.my-container {
  height: calc(100% - 110px);
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-header {
  background-color: white;
  z-index: 10;
  top: 0;
  height: 110px;
  width: 100%;
  box-shadow: 11px 7px 26px -5px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.form-principal {
  z-index: 11;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0 25px 25px 25px;
  border-radius: 10px;
  box-shadow: 11px 7px 26px -5px rgba(0, 0, 0, 0.1);
  width: 700px;
}

.btn-send {
  margin-top: 17px;
  background: rgb(255, 166, 0);
}

.my-footer {
  width: 100%;
  margin-top: 150px;
  background-color: white;
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: center;
}

.mybox {
  float: right;
  height: 23px;
  width: 23px;
  margin-top: 5px;
}

.myinput {
  width: 95% !important;
}
